//MONTSERRAT
@font-face {
    font-family: 'Montserrat';
    src: url('../../public/assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

//RAMILLAS
@font-face {
    font-family: 'Ramillas';
    src: url('../../public/assets/fonts/ramillas/TT Ramillas Trial Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ramillas';
    src: url('../../public/assets/fonts/ramillas/TT Ramillas Trial Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
