//COLORS
$black: #000000;
$white: #FFFFFF;
$invisible_beige: #f6f4f1;
$light_beige: #eeeae3;
$medium_beige: #af9273;
$dark_beige: #cac4ba;
$brown: #7f7265;
$light_brown: #a69b8a;
$medium_brown: #6d4c41;
$dark_brown: #2b251f;
$light_yellow: #f8eedd;
$bueno: #f6f4f1;
$grey: #5f5e52;

//SIZES
$normal: 1em;
$small: $normal * .625; //10
$small_medium: $normal * .8125; //13
$small_medium_plus: $normal * .875; //14
$small_large: $normal * .9375; //15
$big: $normal * 1.25; //20
$big_small: $normal * 1.5625; //25
$big_medium: $normal * 1.875; //30
$big_large: $normal * 2.125; //34
$big_big: $normal * 2.9375; //47

